*{
    padding: 0%;
    margin: 0%;
}
.logo{
    background-image: url(logo.jpg);
    background-size: cover;
    width: 100px;
    height: 50px;
    margin-left: 10px;
}
.heading{
    display: flex;
    color: white;
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.nav{
    display: flex;
    background-color: black;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
    list-style: none;
    color: white;
    margin-right:10px ;

}
li{
    margin: 10px;
}