*{
    padding: 0%;
    margin: 0%;
}
.logo{
    background-image: url(new\ logo.png);
    background-size: cover;
    width:120px;
    height: 100px;
  display: flex;
  justify-content: start;

}
.heading{
    display: flex;
    color: white;
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.nav{
    display: flex;
    background-color: black;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}
ul{
    display: flex;
    list-style: none;
    color: white;
    margin-right:10px ;
    align-items: center;
    width: 800px;
    cursor: pointer;

}
li{
    margin: 30px;
    margin-top: 10px;
    margin-bottom: 10px;

}
.dark-mode{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.fa-solid{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
}
.body{
    color: white;
    background-color: black;
    
}
/* .box{
    background-color: #323131;
    border-radius: 23px;
    width: 300px;
    display: flex;
    justify-content: center;
    height: 40px;

} */
 .fnt{
    margin: 30px;
    height: 600px;
    width: 600px;
    display: flex;
    justify-content: center;
    padding-top: 100px;
   font-weight: bold;
   font-size: 2rem;
 

   /* border: 2px solid black; */
 }
 .main{

 }
 p{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 1rem;
    margin-top: 20px;
    color: rgb(147, 147, 147);
    width: 400px;
 }
 .view{
    margin-top: 16px;
 }
#view-course{
height: 37px;
width: 177px;
color: white;
background-color: black;
border-radius: 23px;

 }
 li{
    position: relative;
    display: inline-block;
   

 }
 .dropdown{
    display: none;
    position: absolute;
    overflow: hidden;
border: 1px solid black;
   z-index: 1;
    color: white;
    background-color: black;
 }
 .dropdown a{
    display: block;
    text-decoration: none;
    border-bottom: 1px solid black;
    color: white;
    height: 30px;
    width: 200px;
    margin-top: 10px;
 }
 .dropdown a:hover{
    background-color: rgb(88, 85, 85);
    color: white;
 }
 .dropdown a:last-child{
    border-bottom: none;
 }
 li:hover .dropdown{
    display: block;
 } 
 .full{
    background-image: url(back.webp);
    background-size: cover;
    background-position: center;
    /* position: relative; */

  
 }
 .full::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    background-image: url(back.webp);
    background-size: cover;
    background-position: left;
    filter: blur(20px);
    z-index: -1;
 }
 span{
    color:#FFF2AF ;
 }

 .full{
    border:solid black;
    height: 700px;
    
 }